<h3>Restaurants index</h3>
<h3><%= link_to " add restaurant", new_restaurant_path, class: "btn btn-primary"  %></h3>

<div class="container">
    <% @restaurants.each do |restaurant| %>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card ">
          <h4><%= restaurant.name %></h4>
          <p><%= restaurant.address %></p>
          <p><%= restaurant.phone_number %></p>
          <p><%= restaurant.category %></p>
          <%= link_to " details restaurant", restaurant_path(restaurant), class: "btn btn-primary" %>
     </div>
    </div>
      <% end %>
</div>




