<h3>Restaurants show</h3>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
      <div class="card ">
          <h4><%= @restaurant.name %></h4>
          <p><%= @restaurant.address %></p>
          <p><%= @restaurant.phone_number %></p>
          <p><%= @restaurant.category %></p>
          <% @restaurant.reviews.each do |review| %>
          <p><%= review.content %></p>
          <P><%= review.rating %></P>
          <% end %>
        </div>
    </div>
  </div>
</div>
<h3><%= link_to " add review" , new_restaurant_review_path(@restaurant), class: "btn btn-primary"  %>
<%= link_to " back to index" , restaurants_path, class: "btn btn-primary"  %></h3>
